* { margin: 0; padding: 0;}

@font-face 
{
    font-family: 'TexGureHeroes';
    src: url(../fonts/texgyreheros.otf);
}

@font-face 
{
    font-family: 'arimoregular';
    src: url('../fonts/arimo-regular-webfont.eot');
    src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arimo-regular-webfont.woff') format('woff'),
         url('../fonts/arimo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    background-color: #FFFFFF;
}

.header
{
}

.header .nav-bar
{
    height: 80px;
    background-color: #000000;
    font-family: 'arimoregular';
    color: #FFFFFF;
    font-size: 30px;
}

.header .nav-bar ul
{
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}

.header .nav-bar ul li
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.header .slider
{
    min-width: 100%;
    height: 550px;
    background-image: url(../images/hed_g_slider.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.content .quotation
{
    background-color: #1f2024;
    height: 215px;
    min-width: 100%;
    font-family: 'TexGureHeroes';
}

.content .quotation img
{
    margin-top: 10px;
    margin-left: 48%;
}

.content .quotation h1
{
    font-size: 24px;
    color: #f3f3f3;
    text-align: center;
}

.content .quotation p
{
    font-size: 16px;
    color: #9e9e9e;
    text-align: center;
    padding: 15px 150px 0 150px;
}

.content .about
{
    background-color: #FFFFFF;
    min-width: 100%;
    height: 350px;
    font-family: 'TexGureHeroes';
}

.content .about .about-pic
{
    width: 60%;
    background-image: url(../images/about__.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: inherit;
    float: left;
}

.content .about .about-text
{
    width: 40%;
    height: inherit;
    float: right;
}

.content .about .about-text img
{
    margin-top: 10px;
    margin-left: 46%;
}

.content .about .about-text h1
{
    font-size: 24px;
    color: #474646;
    padding-left: 50px;
}

.content .about .about-text p
{
    font-size: 16px;
    color: #9e9e9e;
    padding: 15px 50px 0 50px;
}

.content .music
{
    background-color: #dfe2eb;
    height: 635px;
    min-width: 100%;
    font-family: 'TexGureHeroes';
}

.content .music img
{
    margin-top: 10px;
    margin-left: 48%;
}

.content .music h1
{
    font-size: 24px;
    color: #474646;
    text-align: center;
}

.content .image
{
    background-color: #f2f2f4;
    min-width: 100%;
    height: 500px;
    border-bottom: 55px solid #bc841b;
    font-family: 'TexGureHeroes';
}
.content .image img
{
    margin-top: 10px;
    margin-left: 48%;
}

.content .image h1
{
    font-size: 24px;
    color: #474646;
    text-align: center;
}

.footer
{
    min-width: 100%;
    height: 260px;
    background-color: #232429;
}

.footer .footer-logo
{
    padding-top: 80px;
    padding-left: 100px;
    float: left;
}

.footer .footer-social
{
    padding-top: 90px;
    padding-left: 210px;
    float: left;
}

.footer .footer-contact
{
    padding-top: 90px;
    padding-left: 210px;
    float: left;
}

.footer .footer-contact h2
{
    color: #FFFFFF;
    font-family: 'TexGureHeroes';
}

.footer .footer-contact p
{
    color: #bc841b;
    font-family: 'TexGureHeroes';
}